BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 13px; PADDING-BOTTOM: 0px; MARGIN-LEFT: auto; MARGIN-RIGHT: auto; PADDING-TOP: 0px; BACKGROUND-REPEAT: repeat-y; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif; BACKGROUND-COLOR: #fff
}
TD {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
SELECT {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
INPUT {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
LI {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
CODE {
	FONT-SIZE: 12px
}
A {
	TEXT-DECORATION: none
}
A:link {
	COLOR: #47a
}
A:visited {
	COLOR: #666666
}
A:active {
	COLOR: #990000
}
A:hover {
	COLOR: #990000
}
#legend LI.externalLink {
	PADDING-LEFT: 18px; BACKGROUND: url(../images/external.png) no-repeat left top
}
A.externalLink {
	PADDING-RIGHT: 18px; BACKGROUND: url(../images/external.png) no-repeat right center
}
A.externalLink:link {
	PADDING-RIGHT: 18px; BACKGROUND: url(../images/external.png) no-repeat right center
}
A.externalLink:visited {
	PADDING-RIGHT: 18px; BACKGROUND: url(../images/external.png) no-repeat right center
}
A.externalLink:active {
	PADDING-RIGHT: 18px; BACKGROUND: url(../images/external.png) no-repeat right center
}
A.externalLink:hover {
	PADDING-RIGHT: 18px; BACKGROUND: url(../images/external.png) no-repeat right center
}
#legend LI.newWindow {
	PADDING-LEFT: 18px; BACKGROUND: url(../images/newwindow.png) no-repeat left top
}
A.newWindow {
	PADDING-RIGHT: 18px; BACKGROUND: url(../images/newwindow.png) no-repeat right center
}
A.newWindow:link {
	PADDING-RIGHT: 18px; BACKGROUND: url(../images/newwindow.png) no-repeat right center
}
A.newWindow:visited {
	PADDING-RIGHT: 18px; BACKGROUND: url(../images/newwindow.png) no-repeat right center
}
A.newWindow:active {
	PADDING-RIGHT: 18px; BACKGROUND: url(../images/newwindow.png) no-repeat right center
}
A.newWindow:hover {
	PADDING-RIGHT: 18px; BACKGROUND: url(../images/newwindow.png) no-repeat right center
}
H2 {
	FONT-SIZE: 17px; COLOR: #333333; PADDING-BOTTOM: 14px
}
H3 {
	PADDING-RIGHT: 4px; BACKGROUND-POSITION: left bottom; PADDING-LEFT: 24px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(../images/h3.jpg); PADDING-BOTTOM: 4px; COLOR: #666; PADDING-TOP: 4px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #ccc
}
P {
	FONT-SIZE: 12px; COLOR: #000; LINE-HEIGHT: 1.3em
}
#breadcrumbs {
	PADDING-RIGHT: 10px; PADDING-LEFT: 20px; BACKGROUND-IMAGE: url(../images/breadcrumbs.jpg); PADDING-BOTTOM: 14px; PADDING-TOP: 5px; HEIGHT: 13px
}
 HTML #breadcrumbs {
	PADDING-BOTTOM: 8px
}
#leftColumn {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 5px; MARGIN: 10px 0px; BORDER-BOTTOM: #ccc 1px solid
}
#navcolumn H5 {
	BACKGROUND-POSITION: left bottom; PADDING-LEFT: 9px; FONT-SIZE: smaller; BACKGROUND-IMAGE: url(../images/h5.jpg); COLOR: #49635a; PADDING-TOP: 2px; BORDER-BOTTOM: #aaaaaa 1px solid; BACKGROUND-REPEAT: no-repeat
}
TABLE.bodyTable TH {
	FONT-WEIGHT: bold; COLOR: white; BACKGROUND-COLOR: #bbb; TEXT-ALIGN: left
}
TABLE.bodyTable TH {
	FONT-SIZE: 11px
}
TABLE.bodyTable TD {
	FONT-SIZE: 11px
}
TABLE.bodyTable TR.a {
	BACKGROUND-COLOR: #ddd
}
TABLE.bodyTable TR.b {
	BACKGROUND-COLOR: #eee
}
.source {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; OVERFLOW: auto; BORDER-LEFT: #999 1px solid; BORDER-BOTTOM: #999 1px solid
}
DT {
	PADDING-RIGHT: 4px; BACKGROUND-POSITION: left bottom; PADDING-LEFT: 24px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(../images/h3.jpg); PADDING-BOTTOM: 4px; COLOR: #333333; PADDING-TOP: 4px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #ccc
}
.subsectionTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #666
}
TABLE {
	FONT-SIZE: 10px
}
.xright A:link {
	COLOR: #666
}
.xright A:visited {
	COLOR: #666
}
.xright A:active {
	COLOR: #666
}
.xright A:hover {
	COLOR: #003300
}
#banner {
	BACKGROUND: url(../images/banner.jpg); HEIGHT: 75px ;
}
#navcolumn UL {
	MARGIN: 5px 0px 15px 0em
}
#navcolumn UL A {
	COLOR: #333333
}
#navcolumn UL A:hover {
	COLOR: red
}
#intro {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 40px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 40px; PADDING-BOTTOM: 10px; MARGIN: 6px 0px 0px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #ccc 1px solid
}
.subsection {
	MARGIN-LEFT: 3px; COLOR: #333333
}
.subsection P {
	FONT-SIZE: 12px
}
#footer {
	PADDING-RIGHT: 10px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 20px 0px; COLOR: #333333; PADDING-TOP: 10px
}
.errormark {
	BACKGROUND: url(../images/icon_error_sml.gif) no-repeat
}
.warningmark {
	BACKGROUND: url(../images/icon_error_sml.gif) no-repeat
}
.donemark {
	BACKGROUND: url(../images/icon_error_sml.gif) no-repeat
}
.infomark {
	BACKGROUND: url(../images/icon_error_sml.gif) no-repeat
}
.warningmark {
	BACKGROUND-IMAGE: url(../images/icon_warning_sml.gif)
}
.donemark {
	BACKGROUND-IMAGE: url(../images/icon_success_sml.gif)
}
.infomark {
	BACKGROUND-IMAGE: url(../images/icon_info_sml.gif)
}
.xleft {
	FLOAT: left; text-shadow: #7CFC00 1px 1px 1px
}
#bannerLeft IMG {
	FLOAT: left; text-shadow: #7CFC00 1px 1px 1px
}
.xright {
	FLOAT: right; text-shadow: #7CFC00 1px 1px 1px
}
#bannerRight {
	FLOAT: right; text-shadow: #7CFC00 1px 1px 1px
}
#poweredBy IMG {
	DISPLAY: block; MARGIN: 20px 0px 20px 17px
}

