body {
  width: 900px;
}

A.externalLink {
	PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%
}
A.externalLink:link {
	PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%
}
A.externalLink:visited {
	PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%
}
A.externalLink:active {
	PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%
}
A.externalLink:hover {
	PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%
}
BODY UL {
	LIST-STYLE-TYPE: square
}
#downloadbox {
	BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #999 1px solid; PADDING-LEFT: 1em; FLOAT: right; PADDING-BOTTOM: 1em; MARGIN-LEFT: 2em; BORDER-LEFT: #999 1px solid; WIDTH: 17.5em; BORDER-BOTTOM: #999 1px solid; BACKGROUND-COLOR: #eee
}
#downloadbox H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: smaller; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 0px; COLOR: #000; PADDING-TOP: 0px; BORDER-BOTTOM: #aaaaaa 1px solid
}
#downloadbox P {
	MARGIN-TOP: 1em; MARGIN-BOTTOM: 0px
}
#downloadbox LI {
	
}
.xleft {
	FLOAT: left; text-shadow: #7CFC00 1px 1px 1px
}
#bannerLeft IMG {
	FLOAT: left; text-shadow: #7CFC00 1px 1px 1px
}
.xright {
	FLOAT: right; text-shadow: #7CFC00 1px 1px 1px
}
#bannerRight {
	FLOAT: right; text-shadow: #7CFC00 1px 1px 1px
}
#poweredBy IMG {
	DISPLAY: block; MARGIN: 20px 0px 20px 17px; BORDER:0;
}
